#map {
  width: 70%;
  height: 600px;
  margin-top: 10px;
  border: 1px solid;
  border-color: darkgray;
}

@media (max-width: 768px) {
  #map {
    width: 80%;
    height: 500px;
  }
}

@media (max-width: 640px) {
  #map {
    width: 80%;
    height: 400px;
  }
  #main_search {
    font-size: small;
  }
}
